<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>

<h3>Пользователи:</h3>
<ul>
{% for user in user_list %}
    <li>
        <a href="{{ user.get_absolute_url }}"> {{ user }}
    </li>
{% endfor %}
</ul>

{% if is_paginated %}
    <div>
        {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"> Назад </a>
        {% endif %}
        <span>
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}"> Вперед </a>
        {% endif %}
    </div>
{% endif %}

<p><a href="{% url 'user-create' %}"> Добавить пользователя </a></p>

</body>
</html>